{% extends 'template.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block content %}
    <h1>Créer un nouvel article</h1>

    {{ include('articles/_form.html.twig') }}

    <a href="{{ path('articles_index') }}">Revenir à la liste</a>
{% endblock %}
